@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inter-extraLightItalic {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
}

body {
    width: auto;
    height: 600px;
    background-color: #8785A2;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 18px;
    color: #FFC7C7;
    padding: 0;
    margin: 0;
}

#websiteOn { 
    letter-spacing: 0.7px;
}

.currentWebsite {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #FFC7C7;
}

button {
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
}

p {
    padding: 0;
    margin: 0;
    color: #FFC7C7;
}

span {
    font-size: 14px;
    color: #FFC7C7;
}

.mainWrapper { 
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    gap: 1.2px;
}

.labelWrapper {
    margin-top: 5px;
    margin-bottom: 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#downloadBtn {
    transition: transform 0.3s ease; 
    cursor: pointer;
}

#downloadBtn:hover {
    transform: scale(1.1);
}

/* Hide the default checkbox */
input[type="checkbox"] {
    display: none;
}

/* Custom checkbox style */
input[type="checkbox"] + span::before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 2px solid #FFC7C7;
    border-radius: 4px;
    background-color: #FFE2E2; 
    vertical-align: middle;
    margin-right: 7px;
    transition: all 0.3s ease;
}

/* Checked state */
input[type="checkbox"]:checked + span::before {
    background-color: #FFC7C7; 
    border-color: #FFC7C7;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns%3D"http://www.w3.org/2000/svg" viewBox%3D"0 0 24 24" fill%3D"white"%3E%3Cpath d%3D"M9 19l-7-7 1.41-1.41L9 16.17l11.59-11.59L22 6l-13 13z"/%3E%3C/svg%3E');
    background-size: 14px;
    background-position: center;
    background-repeat: no-repeat;
}

input[type="checkbox"] + span:hover::before,
input[type="checkbox"] + span:focus::before {
    border-color: #8785A2; 
}

#status {
    margin-top: 3.5px;
    color: #FFE2E2;
    font-size: 12px;
}

#progress-container {
    display: none;
    margin-top: 5px;
    width: 80%;
}

#progress-bar {
    position: relative;
    width: 100%;
    background-color: #FFE2E2;
    border: 1.5px solid #FFC7C7;
    border-radius: 16px;
    z-index: 3;
}

#progress-bar p {
    color: #8785A2;
}

#progress-bar div {
    height: 20px;
    width: 0;
    background-color: #FFC7C7;
    border: 3px solid #FFC7C7;
    border-radius: 16px;
}

#progress-text {
    position: absolute;
    width: 100%;
    height: auto;
    top: 5px;
    left: 0;
    z-index: 5;
    font-size: 14px;
    text-align: center;
}

#summary {
    display: none;
    margin-top: 5px;
}

.colorWrapper { 
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-squares-container {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.color-square {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 0px solid #FFE2E2;
    border-radius: 10px;
}

.glassColor {
    background: rgba(246, 246, 246, 0.25);                       
    backdrop-filter: blur(10px);
}

.tooltip {
    position: absolute;
    color: #8785A2;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 10;
}

.color-square:hover + .tooltip {
    opacity: 1;
}

/* Custom modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
    background-color: #fefefe;
    margin: 60% auto;
    padding: 20px;
    border: 1px solid #FFC7C7;
    border-radius: 20px;
    width: 60%; 
    max-width: 400px; 
    text-align: center;
    font-size: 16px;
}

#close-alert-button {
    background-color: #FFE2E2; 
    color: #FFC7C7;
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#close-alert-button:hover {
    background-color: #8785A2;
}

#info {
    margin-top: 10px;
    font-size: 10px;
    text-align: center;
}
